In [1]:
import pandas as pd
import numpy as np

In [100]:
import pymysql
import sqlalchemy
import datetime

In [93]:
db_connection_str = 'mysql+pymysql://admin:hanium123!@database-1.caua660cnte5.ap-northeast-2.rds.amazonaws.com/dongjun-test-db'
db_connection = sqlalchemy.create_engine(db_connection_str)
conn = db_connection.connect()

db = pymysql.connect(host='database-1.caua660cnte5.ap-northeast-2.rds.amazonaws.com', user='admin', password='hanium123!', db='dongjun-test-db', charset='utf8')
curs = db.cursor()

In [94]:
sql_read_crawl_result = "Select * From crawl_result"
sql_read_column_name = "select column_name from information_schema.columns where table_name = 'crawl_result'"
curs.execute(sql_read_crawl_result)
crawl_result = curs.fetchall()

curs.execute(sql_read_column_name)
col = (curs.fetchall())
db.commit

#columns 맞춰주기
col = list(col)
col.reverse()
col = tuple(col)

crawl_result_df = pd.DataFrame(crawl_result, columns=col)
crawl_result_df

      해구번호 풍향(deg) 풍속(m/s) 파향(deg) 최대파주기(sec) 유의파고(m)        hour date
0        1     0.9   133.0     6.0        2.1     151  2021-09-09    0
1        2     1.0   123.0     6.3        1.1     297  2021-09-09    0
2        3     1.0   123.0     6.1        1.9     126  2021-09-09    0
3        4     1.0   121.0     5.9        2.7     114  2021-09-09    0
4        5     1.1   118.0     5.8        2.9     123  2021-09-09    0
...    ...     ...     ...     ...        ...     ...         ...  ...
1326  8300  -999.0  -999.0  -999.0     -999.0    -999  2021-09-09    0
1327  8301     0.1   187.0     6.3        2.8     203  2021-09-09    0
1328  8302     0.4   180.0     6.3        2.8     161  2021-09-09    0
1329  8303     0.5   132.0     6.2        3.4     125  2021-09-09    0
1330  8304     0.8   133.0     6.1        2.1     138  2021-09-09    0

[1331 rows x 8 columns]

In [95]:
x_data = crawl_result_df.loc[:, ['유의파고(m)','파향(deg)','최대파주기(sec)','풍속(m/s)','풍향(deg)']]

x_data = x_data.astype(np.float32)
trench_num = crawl_result_df.loc[:, ["해구번호"]]
trench_num.astype({'해구번호':'float'}).dtypes

해구번호    int64
dtype: object

In [96]:
from tensorflow.keras.models import load_model
loaded_model = load_model('/home/dongjun/project/newmap/map/ml_files/best_model')

In [97]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_data_scaled = scaler.fit_transform(x_data)

In [98]:
result=loaded_model.predict(x_data_scaled, verbose=1)
result = pd.DataFrame(result)

42/42 [==============================] - 0s 771us/step

In [89]:
print(result.dtypes)
print(trench_num.dtypes)

0    float32
1    float32
dtype: object
해구번호    int64
dtype: object

In [101]:
result_df = pd.DataFrame({
    "trench_num" : trench_num.iloc[:, 0],
    'loss' : result.iloc[:, 0],
    'acc' : result.iloc[:, 1],
})

result_df['time'] = datetime.datetime.now()

dtypesql = {'trench_num':sqlalchemy.types.VARCHAR(20), 
          'loss':sqlalchemy.types.Float(), 
          'acc':sqlalchemy.types.Float(),
          'time':sqlalchemy.types.DateTime()
}
# replace = 테이블 삭제후 재생성
result_df.to_sql(name='ml_result', con=conn, if_exists='replace',index=False, dtype= dtypesql)